extends layout.pug

block content

  article.portfolio-intro
 
    h1 Web Development Projects

    p A portfolio to show off the projects I've built as a web developer


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.thumbnail_url}`, alt=`Thumbnail: ${project.projectName}`)
            h5= project.projectName